@use 'theme';
@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-display: swap;
  font-family: 'PublicPixel';
  //noinspection CssUnknownTarget
  src: url('/assets/PublicPixel-rv0pA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  accent-color: theme.$accent;
  border-radius: theme.$control-corner-radius;
  box-sizing: border-box;
  color: theme.$text-control-foreground;
  font-family: var(--font-family, 'PublicPixel'), monospace, sans-serif;
  &:focus-visible {
    --ap-focus-visible: 1;
  }
}

body {
  background-color: theme.$region-color;
  --as-gutter-background-color: #{theme.$grid-splitter-background};
}

input[type='text'],input[type='password'],input[type='number'] {
  background-color: theme.$text-control-background;
  border: none;
  color: theme.$text-control-foreground;
  outline: theme.$text-control-border solid theme.$text-control-border-theme-thickness;
  padding: theme.$text-control-theme-padding;

  &:focus-visible {
    outline-color: theme.$text-control-border-focused;
    outline-width: theme.$text-control-border-theme-thickness-focused;
  }

  &:invalid {
    outline-color: theme.$text-control-border-error;
  }

  &:disabled {
    color: theme.$text-control-foreground-disabled;
    background-color: theme.$text-control-background-disabled;
    outline-color: theme.$text-control-border-disabled;
  }
}

input[type='submit'],input[type='image'],button {
  background-color: theme.$button-background;
  border: none;
  color: theme.$button-foreground;
  padding: theme.$button-padding;

  &:disabled {
    color: theme.$button-foreground-disabled;
  }

  &:not(:disabled) {
    &:hover {
      background-color: theme.$button-background-pointer-over;
    }

    &:active {
      scale: 0.98;
      &:not(.no-color-change-on-press) {
        background-color: theme.$button-background-pressed;
      }
    }
  }
}

.error-message {
  --font-family: sans-serif;
}

.rat-toggle-button {
  background-color: theme.$toggle-button-background;
  color: theme.$toggle-button-foreground;

  &:hover {
    background-color: theme.$toggle-button-background-pointer-over;
  }

  &.toggled-on {
    background-color: theme.$toggle-button-background-checked;
    color: theme.$toggle-button-foreground-checked;

    &:hover {
      background-color: theme.$toggle-button-background-checked-pointer-over;
      color: theme.$toggle-button-foreground-checked;
    }
  }
}

.return-button {
  font-size: 30px;
  text-wrap: nowrap;
}

.item-text.filler {
  color: theme.$item-filler;
}
.item-text.progression {
  color: theme.$item-progression;
}
.item-text.useful {
  color: theme.$item-useful;
}
.item-text.progression.useful {
  color: theme.$item-progression-and-useful;
}
.item-text.trap {
  color: theme.$item-trap;
}
.item-text.progression.trap {
  color: theme.$item-progression-and-trap;
}
.item-text.useful.trap {
  color: theme.$item-useful-and-trap;
}
.item-text.progression.useful.trap {
  color: theme.$item-progression-and-useful-and-trap;
}
.player-text:not(.own-player-text) {
  color: theme.$player-text;
}
.own-player-text {
  color: theme.$own-player-text;
}
.location-text {
  color: theme.$location-text;
}
.entrance-text {
  color: theme.$entrance-text
}
