@use 'theme';

@font-face {
  font-family: 'PublicPixel';
  src: url('../public/assets/PublicPixel-z84yD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  accent-color: theme.$accent;
  border-radius: theme.$control-corner-radius;
  box-sizing: border-box;
  color: theme.$text-control-foreground;
  font-family: 'PublicPixel', sans-serif;
}

body {
  background-color: theme.$region-color;
  --as-gutter-background-color: #{theme.$grid-splitter-background};
}

input[type='text'],input[type='password'],input[type='number'] {
  background-color: theme.$text-control-background;
  border: none;
  color: theme.$text-control-foreground;
  outline: theme.$text-control-border solid theme.$text-control-border-theme-thickness;
  padding: theme.$text-control-theme-padding;

  &:focus-visible {
    outline-color: theme.$text-control-border-focused;
    outline-width: theme.$text-control-border-theme-thickness-focused;
  }

  &:invalid {
    outline-color: theme.$text-control-border-error;
  }
}

input[type='submit'],button {
  background-color: theme.$button-background;
  border: none;
  color: theme.$button-foreground;
  padding: theme.$button-padding;

  &:disabled {
    color: theme.$button-foreground-disabled;
  }

  &:not(:disabled) {
    &:hover {
      background-color: theme.$button-background-pointer-over;
    }

    &:active {
      background-color: theme.$button-background-pressed;
      scale: 0.98;
    }
  }
}
