// things from App.axaml
$accent: #0073cf;
$accent-dark-1: #005396;
$accent-dark-2: #003d6d;
$alt-high: black;
$alt-low: black;
$alt-medium: black;
$alt-medium-high: black;
$alt-medium-low: black;
$base-high: white;
$base-low: #404040;
$base-medium: #a0a0a0;
$base-medium-high: #b8b8b8;
$base-medium-low: #707070;
$chrome-alt-low: #b8b8b8;
$chrome-black-high: black;
$chrome-black-low: #b8b8b8;
$chrome-black-medium: black;
$chrome-black-medium-low: black;
$chrome-disabled-high: #404040;
$chrome-disabled-low: #a0a0a0;
$chrome-gray: #888888;
$chrome-high: #888888;
$chrome-low: #1b1b1b;
$chrome-medium: #242424;
$chrome-medium-low: #373737;
$chrome-white: white;
$error-text: #fff000;
$list-low: #242424;
$list-medium: #404040;
$region-color: #303030;

// things from Avalonia.Themes.Fluent
$text-control-background: $alt-medium-low;
$text-control-background-disabled: $base-low;
$text-control-border: $base-medium;
$text-control-border-disabled: $base-low;
$text-control-border-focused: $accent;
$text-control-border-error: $error-text;
$text-control-border-theme-thickness: 1px;
$text-control-border-theme-thickness-focused: 2px;
$text-control-foreground: $base-high;
$text-control-foreground-disabled: $chrome-disabled-low;
$text-control-theme-padding: calc(6rem/16) calc(6rem/16) calc(6rem/16) calc(10rem/16);

$button-background: $base-low;
$button-background-pointer-over: rgba($base-high, 0.1);
$button-background-pressed: $base-medium-low;
$button-foreground: $base-high;
$button-foreground-disabled: $base-medium-low;
$control-corner-radius: calc(3rem/16);
$button-padding: calc(6rem/16) calc(8rem/16);

$grid-splitter-background: $alt-medium-low;

$toggle-button-background: $base-low;
$toggle-button-background-pointer-over: rgba($base-high, 0.1);
$toggle-button-foreground: $base-high;
$toggle-button-background-checked: $accent;
$toggle-button-foreground-checked: $chrome-white;
$toggle-button-background-checked-pointer-over: $accent-dark-1;
$toggle-button-foreground-checked-pointer-over: $chrome-white;

// item colors, taken straight from Yacht Dice
// https://github.com/spinerak/YachtDiceAP/blob/8ec53a79f524278f797e540a2b3383b3ebdd4e3d/index.html#L4475-L4491
$item-filler: rgb(6, 217, 217);
$item-progression: rgb(168, 147, 228);
$item-useful: rgb(98, 122, 198);
$item-progression-and-useful: rgb(255, 223, 0);
$item-trap: rgb(211, 113, 102);
$item-progression-and-trap: rgb(255, 172, 28);
$item-useful-and-trap: rgb(155, 89, 182);
$item-progression-and-useful-and-trap: rgb(128, 255, 128);
$player-text: #FAFAD2;
$own-player-text: #EE00EE;
$location-text: #00FF7F;
$entrance-text: #6495ED;
